#Postgis variables

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#Minio variables

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

#Backend variables

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

JWT_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=

#Fronend variables

VITE_API_URL=

#Domain variables

DOMAIN=
